.wrapper{
    position: relative;
    float: left;
    left: 10px;
    width: 958px;
    background-color: #cccccc
}
.wp1{
    position: relative;
    float: left;
    left: 5px;
    width: 150px;
}
.wp1 div{
    width: 100%;
    margin-bottom: 10px;
}
.g11{
    height: 200px;
    background-color: rgb(130, 130, 130);
    margin-top: auto;
}
.g12{
    height: 200px;
    background-color: rgb(130, 130, 130);
    margin-top: auto;
}
.wp2{
    position: relative;
    float: left;
    left: 15px;
    width: 700px;
}
.wp2 div{
    width: 100%;
    margin-bottom: 10px;
}
.g21{
    height: 200px;
    background-color: rgb(130, 130, 130);
    margin-top: auto;
}
.g22{
    height: 200px;
    background-color: rgb(130, 130, 130);
    margin-top: auto;
}
body {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 90%;
    background-color: #e7e7de
}
